<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='individual_percentage.css') }}">
    <title>Individual Percentage</title>
</head>
<body>
    <div class="individual-percentage-container">
        <h1>Individual Attendance Percentage</h1>
        
        <!-- Year and Month Picker -->
        <form action="{{ url_for('individual_percentage') }}" method="get">
            <label for="monthPicker">Select Year and Month: </label>
            <input type="month" id="monthPicker" name="date" value="{{ request.args.get('date', '') }}" required>
            <button type="submit">Filter</button>
        </form>

        {% if individual_percentage_data %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Percentage</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for entry in individual_percentage_data %}
                        <tr>
                            <td>{{ entry[0] }}</td>
                            <td>{{ entry[1] }}</td>
                            <td>{{ entry[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No Records Found</p>
        {% endif %}
        <a href="{{ url_for('admin') }}">Back to Admin</a>
    </div>
</body>
</html>
